plugin/src/main/resources/config/config.dtd

<?xml version="1.0" encoding="UTF-8" ?>

        <!ELEMENT rules (rule+)>
        <!ELEMENT rule (data+)>
        <!ATTLIST rule
                table CDATA #REQUIRED
                field CDATA #REQUIRED
                >
        <!ELEMENT data EMPTY>
        <!ATTLIST data
                schema  CDATA #REQUIRED
                table  CDATA #REQUIRED
                class  CDATA #REQUIRED
        >